<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%- unless controller.class.name.include? 'Devise' %>
      <%- if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %><br />
      <% else %>
        <%= link_to 'Log In', new_user_session_path %><br />
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
