<h1>Welcome!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Articles', controller: 'articles' %>

<h2>Request Details</h2>
<table class="table">
  <tr><th>request.ip</th><td><%= request.ip %></td></tr>
  <tr><th>request.remote_ip</th><td><%= request.remote_ip %></td></tr>
  <tr><th>request.server_software</th><td><%= request.server_software %></td></tr>
  <tr><th>request.ssl?</th><td><%= request.ssl? %></td></tr>
  <tr><th>request.xhr?</th><td><%= request.xhr? %></td></tr>
  <tr><th>request.original_url</th><td><%= request.original_url %></td></tr>
  <tr><th>request.original_fullpath</th><td><%= request.original_fullpath %></td></tr>
  <tr><th>request.fullpath</th><td><%= request.fullpath %></td></tr>
  <tr><th>request.media_type</th><td><%= request.media_type %></td></tr>
  <tr><th>request.method</th><td><%= request.method %></td></tr>
  <tr><th>request.method_symbol</th><td><%= request.method_symbol %></td></tr>
  <tr><th>request.request_method</th><td><%= request.request_method %></td></tr>
  <tr><th>request.request_method_symbol</th><td><%= request.request_method_symbol %></td></tr>
  <tr><th>request.query_parameters</th><td>
    <%= request.query_parameters %>
  </td></tr>
  <tr><th>request.request_parameters</th><td>
    <%= request.request_parameters %>
  </td></tr>
</table>

<h2>Application Details</h2>
<table class="table">
  <tr><th>Rails.version</th><td><%= Rails.version %></td></tr>
  <tr><th>Rails.env</th><td><%= Rails.env %></td></tr>
  <tr><th>Rails.application.root</th><td><%= Rails.application.root.to_s %></td></tr>
  <tr><th>Rails.application.engine_name</th><td><%= Rails.application.engine_name %></td></tr>
  <tr><th>ActiveRecord::Base.connection.adapter_name</th><td><%=  ActiveRecord::Base.connection.adapter_name %></td></tr>
  <tr><th>Rails.configuration.database_configuration[Rails.env]</th><td><%=  Rails.configuration.database_configuration[Rails.env] %></td></tr>
</table>
